.hw-products {
  background-color: white;
}

.hw-products__header__container {
  width: 100%;
}

.hw-products__header__image {
  width: 100%
}

.hw-products__header-2__container {
  display: flex;
  justify-content: center;
}

.hw-products__header-2__text {
  font-family: Special Elite, cursive;
  color: orange;
  padding: 30px;
  font-size: 42px;
}

.hw-products__product__container {
  margin: 50px 0;
}

.hw-products__product-info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hw-products__product-info__text {
  margin-top: 10px;
  font-size: 18px;
}

.hw-products__product-info__container__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.hw-products__product-info__price {
  margin: 5px;
}

.hw-products__product-info__button {
  width: 150px;
  background-color: purple;
  border: 2px solid hotpink;
  margin: 5px;
  border-radius: 6px;
  color: white;
  padding: 3px;
}
