.user-profile {
  width: 100%;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile__container {
  border: 2px solid tomato;
  opacity: 0.9;
}

.user-profile__table__header {
  color: navy;
}

.user-profile__table__text {
  color: dodgerblue;
}

.user-profile__table__text-red {
  color: tomato;
}
